// colors
$primary-pink: #e20d87;
$bg-light: #f8f8f8;
$text-dark: #333;
$discount-red: #f44;
$border-color: #eeeeee;
$white: #ffffff;
$black: #000000;

$footer-text: #777777;
$cart-clear-bg: #ddd;
$cart-clear-hover-bg: #ccc;
$cart-empty: #999999;