.footer {
  background-color: #fff;
  border-top: 1px solid $border-color;
  padding: 30px 0;

  @media (max-width: 600px) {
    padding: 15px 0;
    font-size: 12px;
  }

  &__text {
    text-align: center;
    font-size: 14px;
    color: $footer-text;
  }

  &__copyright {
    margin: 0;
  }

  &__author {
    color: $primary-pink;
    font-weight: 600;
  }
}