.footer {
  background-color: #fff;
  border-top: 1px solid $border-color;
  padding: 30px 0;
  
  &__text {
    text-align: center;
    font-size: 14px;
    color: #777;
  }

  &__copyright {
    margin: 0;
  }

  &__author {
    color: $primary-pink;
    font-weight: bold;
  }
}