.header {
    padding: 15px 0px;
    background-color: $white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    z-index: 100;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 900px) {
            gap: 15px;
            align-items: stretch;
        }
    }

    &__logo {
        &-img {
            width: auto;
            max-height: 40px;

            @media (max-width: 900px) {
                width: 180px;
                height: 100%;
            }

        }
    }

    &__search {
        flex: 1;

        max-width: 600px;
        padding: 12px 16px;

        border: 1px solid $border-color;
        border-radius: 8px;
        font-size: 14px;

        @media (max-width: 900px) {
            max-width: 90%;
            font-size: 12px;
            padding: 10px 8px;
        }

        @media (max-width: 600px) {
            max-width: 70%;
        }

        &:focus {
            outline: none;
            border-color: $primary-pink;
        }
    }

    &__cart {
        .cart {
            @include button-base;
            background-color: $primary-pink;
            color: $white;
            font-size: 14px;

            @media (max-width: 900px) {
                width: 100%;
                height: 100%;
                padding: 15px 15px;
                font-size: 12px;
            }

            @media (max-width: 600px) {
                padding: 10px 8px;
            }

            &:hover {
                background-color: color.adjust($primary-pink, $lightness: -10%);
            }
        }
    }
}