.image-modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  z-index: 9999;

  &__content {
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);

    max-width: 80vw;
    max-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    max-width: 60vw;
    max-height: 60vh;
    border-radius: 8px;
    object-fit: contain;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 8px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #E20D87;
    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; 
    height: 100%;
    background: transparent;
    z-index: 1;
  }
}