.hits {
    margin-bottom: 50px;

    h2 {
        font-size: 28px;
        margin-bottom: 20px;
        color: $text-dark;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 15px;
        justify-content: center;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(3, minmax(200px, 1fr));
            gap: 15px;
        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(2, minmax(180px, 1fr));
            gap: 20px;
        }

        @media (max-width: 600px) {
            grid-template-columns: minmax(160px, 1fr);;
        }
    }
}

.product-card {
    max-width: 300px;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;

    position: relative;

    @media (max-width: 1000px) {
        max-width: 100%;
    }

    @media (max-width: 800px) {
        max-width: 100%;
    }

    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }


    .product-image {
        position: relative;
        overflow: hidden;

        aspect-ratio: 3 / 4;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #f0f0f0;

            @media (max-width: 1000px) {
                aspect-ratio: 4 / 5;
            }

            @media (max-width: 800px) {
                aspect-ratio: 3 / 4;
            }
        }


        .product-label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 60%;
            background-color: rgba(0, 0, 0, 0.7);
            color: $white;
            padding: 12px 0;
            font-size: 16px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: 8px;
            z-index: 2;
            pointer-events: auto;
            cursor: pointer;
        }
    }

    &:hover .product-label {
        opacity: 1;
    }

    .product-discount {
        background-color: $discount-red;
        color: $white;
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 14px;
    }

    .product-price {
        padding: 0 15px;
        font-size: 20px;
        font-weight: 600;
        color: $text-dark;
        margin: 10px 0;
    }

    .product-name {
        padding: 0 15px;
        font-size: 14px;
        color: $footer-text;
        margin-bottom: 15px;
    }

    .add-to-cart {
        @include button-base;
        width: 100%;
        background-color: $primary-pink;
        color: $white;

        &:hover {
            background-color: color.adjust($primary-pink, $lightness: -10%);
        }
    }
}

.loader {
    text-align: center;
    font-size: 1.2rem;
    color: $primary-pink;
    padding: 40px 0;
    font-weight: 600;
}

.no-products {
    grid-column: 1 / -1;
    text-align: center;
    color: $text-dark;
    font-size: 1.2rem;
    padding: 40px 0;
    font-weight: 600;
}