.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  &__content {
    position: relative;
    background: $white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

    max-width: 80vw;
    max-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 900px) {
      max-width: 95vw;
      padding: 18px;
    }

    @media (max-width: 600px) {
      max-width: 99vw;
      max-height: 95vh;
      border-radius: 8px;
    }

  }

  &__img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 70vw;
    max-height: 70vh;

    border-radius: 12px;
    object-fit: contain;
    box-shadow: 0 2px 12px rgba(44, 104, 186, 0.08);
    display: block;
    margin: 0 auto;

    @media (max-width: 900px) {
      max-width: 90vw;
      max-height: 60vh;
      border-radius: 10px;
    }

    @media (max-width: 600px) {
      max-width: 98vw;
      max-height: 50vh;
      border-radius: 6px;
    }
  }

  &__close-wrapper {
   
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;


     @media (max-width: 900px) {
      margin-bottom: 13px;
    }

    @media (max-width: 600px) {
      margin-bottom: 18px;
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 16px;
    background: none;
    border: none;
    font-size: 2rem;
    color: $primary-pink;
    cursor: pointer;
    z-index: 2;
    line-height: 1;

    @media (max-width: 900px) {
      top: 8px;
      right: 10px;
      font-size: 1.7rem;
    }

    @media (max-width: 600px) {
      top: 3px;
      right: 4px;
      font-size: 1.3rem;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
  }
}