@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.slider {
  margin: 30px 0;
  overflow: hidden;

  .swiper-container {
    position: relative;
    width: 100%;
    height: 420px;

    @media (max-width: 1000px) {
      height: auto;
    }

    @media (max-width: 600px) {
      height: auto;
    }

    .swiper-slide {
      @include flex-center;
      background: transparent;
      overflow: hidden;

      img {
        display: block;
        max-width: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
        background: $white;
      }
    }

    .swiper-pagination {
      bottom: 10px;

      .swiper-pagination-bullet {
        background: #fff;
        opacity: 0.7;

        &-active {
          background: $primary-pink;
          opacity: 1;
        }
      }
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }

    .swiper-button-prev {
      background: url('../assets/slider/arrow-left.png') center center no-repeat;
      background-size: 20px 20px;
    }

    .swiper-button-next {
      background: url('../assets/slider/arrow-right.png') center center no-repeat;
      background-size: 20px 20px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      transition: opacity 0.3s, transform 0.3s;

      z-index: 120;


      &:hover {
        opacity: 0.9;
        transform: scale(1.05);
      }

      @media (max-width: 800px) {
        width: 35px;
        height: 35px;
      }

      @media (max-width: 600px) {
        display: none;
      }
    }

    .swiper-button-prev {
      left: 10px;
    }

    .swiper-button-next {
      right: 10px;
    }
  }
}