@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.slider {
  margin: 30px 0;
  overflow: hidden;

  .swiper-container {
    position: relative;
    width: 100%;
    height: 420px;  

    .swiper-slide {
      @include flex-center;
      background: $bg-light;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-pagination {
      bottom: 10px;
      .swiper-pagination-bullet {
        background: #fff;
        opacity: 0.7;
        &-active {
          background: $primary-pink;
          opacity: 1;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: $primary-pink;
      &:after {
        font-size: 24px;
      }
    }
  }
}

// Adaptive
@media (max-width: 1024px) {
  .slider .swiper-container {
    height: 200px;
  }
}